* {
  margin: 0;
  padding: 0;
}

.error {
  background-color: red;
  color: snow;
  text-align: center;
}

body {
  background-color: #FEEECE;
}

#nav-container {
  background-color: snow;
  color: aqua;
}

#nav-container.dynamic {
  display: table-caption;
}

#main-header {
  background-color: snow;
  color: black;
  text-align: center;
}

#nav-bar {
  background-color: #333;
  color: #snow;
  width: 50%;
  margin: auto;
  list-style: none;
  text-align: center;
}

#nav-bar li {
  display: inline;
}

#nav-bar a {
  color: snow;
  text-decoration: none;
  font-size: 20px;
  padding: 0 30px;
}

.home-header {
  background-color: #313;
  font-size: 22px;
  color: snow;
  text-align: center;
  padding: 3% 25%;
}

.home {
  background-color: green;
  color: snow;
  font-size: 22px;
  text-align: center;
  padding: 10% 25%;
}

#profile {
  background-color: green;
  font-size: 22px;
  color: snow;
  text-align: center;
  margin: 20%;
}

.acc-section {
  font-size: 24px;
  width: 40%;
  margin: 15% auto;
}

.acc-section h2 {
  background-color: green;
  color: snow;
}

#login-form {
  background-color: #fffeee;
  color: red;
  height: 205px;
  padding: 15px;
  box-sizing: border-box;
  position: relative;
}

.login-group label {
  padding: left;
  display: block;
}

.login-group input {
  padding: 8px;
  width: 95%;
}

.button {
  position: absolute;
  background-color: grey;
  color: snow;
  border: 4px solid aqua;
  width: 20%;
  height: 25%;
  margin: 3px;
  margin-left: 37%;
}

#register-form {
  background-color: #333;
  color: snow;
  height: 293px;
  padding: 15px;
  box-sizing: border-box;
  position: relative;
}

.space-fill {
  background-color: #333;
  color: #fff;
}

#chat-form #input {
  background-color: orange;
  font-size: 20px;
  font-weight: 800;
  color: red;
  min-width: 99.7%;
  min-height: 17px;
  max-height: 300px;
  height: 60px;
}

#chat-form #button {
  background-color: grey;
  color: snow;
  border: 4px solid gold;
  padding: 10px;
  min-width: 5%;
  margin: 3px;
}

#chat {
  background-color: #333;
  color: #fff;
  font-size: 20px;
  word-wrap: break-word;
  white-space: pre-wrap;
  border: 4px solid green;
  line-height: 90%;
  text-indent: -20px;
  padding-left: 24px;
}

p {
  margin: 0px;
}

.msgtime {
  font-size: 11px;
} 

#license {
  text-align: center;
  align-self: flex-end;
}
